{{- $source := partial "citation_source.html" . -}}
{{- if and (eq $source.pageType "paper") (eq $source.identityStatus "verified") $source.url -}}
<meta name="citation_title" content="{{ $source.title }}">
{{- range $source.authors }}<meta name="citation_author" content="{{ . }}">{{ end }}
{{- with $source.date }}<meta name="citation_date" content="{{ replace . "-" "/" }}">{{ end }}
<meta name="citation_public_url" content="{{ $source.url }}">
{{- with $source.pdfUrl }}<meta name="citation_pdf_url" content="{{ . }}">{{ end }}
{{- with $source.arxivId }}<meta name="citation_arxiv_id" content="{{ . }}">{{ end }}
{{- with $source.doi }}<meta name="citation_doi" content="{{ . }}">{{ end }}
{{- with $source.venue }}<meta name="citation_conference_title" content="{{ . }}">{{ end }}
{{- with .Params.tags }}<meta name="citation_keywords" content="{{ delimit . ", " | plainify }}">{{ end }}
{{- $authors := slice -}}{{- range $source.authors }}{{ $authors = $authors | append (dict "@type" "Person" "name" .) }}{{ end -}}
{{- $schema := dict "@context" "https://schema.org" "@type" "ScholarlyArticle" "@id" $source.url "name" $source.title "url" $source.url "identifier" $source.paperKey -}}
{{- with $authors }}{{ $schema = merge $schema (dict "author" .) }}{{ end -}}
{{- with $source.date }}{{ $schema = merge $schema (dict "datePublished" .) }}{{ end -}}
{{- with $source.pdfUrl }}{{ $schema = merge $schema (dict "encoding" (dict "@type" "MediaObject" "contentUrl" . "encodingFormat" "application/pdf")) }}{{ end -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
{{- end -}}
