{{- $items := slice }}
{{- if not .Date.IsZero }}
  {{- $items = $items | append (printf "<time datetime='%s'>%s</time>" (.Date.Format "2006-01-02") (.Date | time.Format (default "2006-01-02" site.Params.DateFormat))) }}
{{- end }}
{{- if and (.Param "ShowLastMod") (not .Lastmod.IsZero) (ne .Lastmod .Date) }}
  {{- $items = $items | append (printf "<span title='最后更新：%s'>更新于 %s</span>" (.Lastmod) (.Lastmod | time.Format (default "2006-01-02" site.Params.DateFormat))) }}
{{- end }}
{{- if (.Param "ShowReadingTime") }}
  {{- $items = $items | append (printf "<span>约 %d 分钟</span>" .ReadingTime) }}
{{- end }}
{{- if (.Param "ShowWordCount") }}
  {{- $items = $items | append (printf "<span>%d 字</span>" .WordCount) }}
{{- end }}
{{- with $items }}{{ delimit . "&nbsp;·&nbsp;" | safeHTML }}{{ end }}
